.glow {
    &:before {
        @include size(90%, 100%);
        @include transit(background-color);
        content: '';
        position: absolute;
        bottom: -15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--accent-color);
        opacity: 0.5;
        filter: blur(40px);
        border-radius: 10px;
    }
}