.overflow-shadows {
    position: relative;

    &:after, &:before {
        @include transit('opacity, transform', .1s);
        content: "";
        position: absolute;
        left: 0;
        right: calc-rem(16px);
        height: calc-rem(70px);
        opacity: 0;
        z-index: 1;
        pointer-events: none;
    }

    &:after {
        bottom: -2px;
        background: linear-gradient(0deg, var(--primary-color) 0%, rgba(0, 0, 0, 0) 100%);
        transform: translateY(100%);
    }

    &:before {
        top: -2px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--primary-color) 100%);
        transform: translateY(-100%);
    }

    &--bottom {
        &:after {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &--top {
        &:before {
            opacity: 1;
            transform: translateY(0);
        }
    }

    &--small {
        &:after, &:before {
            height: calc-rem(20px);
        }
    }

    &--medium {
        &:after, &:before {
            height: calc-rem(50px);
        }
    }

    &--dark-valhalla {
        &:after {
            background: linear-gradient(0deg, var(--secondary-color) 0%, rgba(0, 0, 0, 0) 100%);
        }

        &:before {
            background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, var(--secondary-color) 100%);
        }
    }

    &--without-scrollbar {
        &:before,
        &:after {
            right: 0;
        }

        .overflow-shadows__inner {
            padding-right: 0;
        }
    }

    &__inner {
        height: 100%;
        padding-right: calc-rem(20px);
        overflow: auto;

        &--overflow-hidden {
            overflow: hidden;
        }
    }

    &--full {
        &:after, &:before {
            width: 100%;
        }
    }
}
