.round {
    &:after {
        content: '';
        display: inline-block;
        background-color: var(--green-color);
        border-radius: 50%;
        padding: 3px;
    }

    &--blink:after {
        animation: blink 2s infinite;
    }
}