.side-menu {
    @include size(calc-rem(450px), 100%);
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 0 calc-rem(150px) 0 var(--accent-color);
    border: 2px solid var(--border-color);
    border-top: none;
    background-color: var(--primary-color);

    @media #{$mSm} {
        width: 360px;
    }

    @media #{$mXs} {
        width: 304px;
    }

    &-wrap {
        background-color: rgba(var(--secondary-color), .7);
        overflow: hidden;
    }
}
