@import '../../../assets/styles/variables-sass';

.display {
    border: 3px solid $cTuna;
    border-radius: 8px;
    padding: 1.5rem;
    height: 100%;
    max-height: 460px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: $cParsley;
    border-radius: 8px;
}

