.btn {
    @include clear-link;
    @include clear-button;
    @include transit('background-color, border-color, color');
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: calc-rem(10px) calc-rem(20px);
    background: var(--accent-color);
    border-radius: calc-rem(6px);
    border: 2px solid var(--accent-color);
    text-align: left;
    font-family: $fGilroy;
    font-weight: $fBold;
    font-size: 1rem;
    color: $cWhite;
    user-select: none;

    @include hover() {
        background-color: var(--text-secondary-color);
        border-color: var(--text-secondary-color);
        color: $cHanPurple;
    };

    &--small {
        font-size: calc-rem(14px);
        padding: 8px 16px;
    }

    &--transparent {
        background-color: transparent;
    }

    &--transparent-grey {
        background-color: transparent;
        border-color: var(--border-color);
        color: rgba(var(--text-secondary-color__rgb), .5);

        @include hover {
            border-color: var(--text-secondary-color);
            background-color: transparent;
            color: var(--text-color);
        }
    }

    &--only-icon {
        background-color: transparent;
        border-color: transparent;

        @include hover {
            border-color: transparent;
            background-color: transparent;
            color: var(--accent-color)
        }
    }

    &--only-border {
        background-color: transparent;
        border-color: var(--accent-color);
    }

    &--glow {
        @include hover() {
            &:before {
                background-color: var(--text-secondary-color);
            }
        }
    }

    &--grey {
        background-color: var(--border-color);
        border-color: var(--border-color);
        color: var(--text-color);

        @include hover {
            border-color: var(--text-secondary-color);
            background-color: var(--border-color);
            color: var(--text-color);

            .btn__count {
                background-color: var(--secondary-color);
            }
        }

        .btn__arrow {
            color: var(--text-color);
        }

        .btn__count {
            background-color: var(--accent-color);
        }
    }

    &--grey-round {
        padding: 0;
        background-color: var(--primary-color);
        border: calc-rem(2px) solid var(--border-color);
        border-radius: 50%;
        color: $cLightSteelBlue;

        @include hover {
            background-color: $cPurple;
            border-color: $cPurple;
            color: var(--text-color);
        }

        .btn__icon {
            @include size(1em);
            margin: 0;
        }
    }

    &--grab {
        cursor: grab;
    }

    &--disabled {
        opacity: 0.7;
        pointer-events: none;
    }

    span {
        position: relative;
    }

    &__icon {
        @include size(0.75em);
        position: relative;
        margin-right: calc-rem(8px);
    }

    &__big-icon {
        @include size(calc-rem(22px));
        margin-right: calc-rem(16px);
    }

    &__right-content {
        display: inline-flex;
        align-items: center;
        margin-left: auto;
    }

    &__arrow {
        @include size(10px);
        margin-left: 12px;
    }

    &__count {
        @include transit(background-color);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 19px;
        min-width: 19px;
        padding: 1px 5px 0;
        border-radius: 20px;
        font-size: calc-rem(12px);
        line-height: 1;
        color: var(--text-color);
        background-color: var(--secondary-color);
    }

    &__pretitle {
        display: block;
        font-size: calc-rem(12px);
        line-height: 1;
        font-weight: $fMedium;
    }

    &__title {
        display: block;
        margin-bottom: .3em;
    }

    &__subtitle {
        display: block;
        margin-top: 2px;
        font-size: calc-rem(12px);
        line-height: 1;
        color: rgb(var(--text-secondary-color), 0.5);
    }

    &__round {
        &:after {
            @include size(6px);
            content: '';
            display: inline-block;
            background-color: var(--green-color);
            border-radius: 50%;
            margin: 0 0 0.1em 6px;
        }

        &--blink:after {
            animation: blink 2s infinite;
        }
    }

    & &__loader {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 36px;
    }
}
