.game-session {
    --wGameSessionNav: #{calc-rem(74px)};
    // for smooth content resizing
    --hGameSession: var(--baseHGameDashboardInner);
    --gGameSession: 2px;
    position: relative;
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    gap: var(--gGameSession);

    &--ghost {
        opacity: .5;
    }

    &--blinking {
        &:after {
            @include size(100%);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            border: 2px solid transparent;
            border-radius: inherit;
            box-sizing: border-box;
            animation: border-blink var(--dTransit) 2;
        }
    }

    &__main {
        padding: 8px;
        background-color: var(--secondary-color);
        overflow: hidden;
        flex: 1 0;

        @media #{$mLg} {
            height: 100%;
        }

        @media #{$mPhoneHorizontal} {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .app--fullscreen & {
            @media #{$mHXs} {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__content {
        @include size(100%);
        position: relative;

        .game-sessions-grid--column & {
            @media #{$mLg} and (orientation: portrait) {
                height: auto;
                aspect-ratio: 276 / 184;
            }
        }

        @media #{$mPhoneHorizontal} {
            @include size(100%);
        }

        .app--fullscreen & {
            @media #{$mHXs} {
                @include size(100%);
            }
        }
    }

    &__nav {
        width: var(--wGameSessionNav)
    }
}