@import '../../variables-sass';

.link {
    @include transit(color);
    position: relative;
    padding: 0;
    background-color: transparent;
    border: none;
    text-decoration: none;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: $cPurple;
    cursor: pointer;

    &:after {
        @include transit(opacity);
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 1px solid currentColor;
        width: 100%;
    }

    @include hover {
        color: var(--accent-color);

        &:after {
            opacity: 0;
        }
    }

    &--dashed {
        &:after {
            border-bottom-style: dashed;
        }
    }
}
