.game-dashboard-side {
    &__header {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: calc-rem(16px) calc-rem(110px) calc-rem(17px);

        @media #{$mXl} {
            padding-left: calc-rem(94px);
            padding-right: calc-rem(94px);
        }

        @media #{$mSm} {
            padding-top: calc-rem(14px);
            padding-bottom: calc-rem(20px);
        }

        &-btn {
            @include size(calc-rem(36px));
            @include transit('background-color, color');
            position: absolute;
            right: calc-rem(30px);
            padding: 0;
            border: none;
            border-radius: 50%;
            background-color: var(--border-color);
            color: var(--text-secondary-color);
            cursor: pointer;

            @include hover {
                background-color: var(--accent-color);
                color: var(--text-color);
            }

            @media #{$mXl} {
                right: calc-rem(20px);
            }

            @media #{$mSm} {
                @include size(38px);
                right: 14px;
            }
            
            @media #{$mXs} {
                right: 12px;
            }
        }

        &-back {
            position: absolute;
            left: calc-rem(30px);
            width: calc-rem(70px);

            @media #{$mXl} {
                left: 20px;
            }
            
            @media #{$mSm} {
                left: 14px;
            }
            
            @media #{$mXs} {
                left: 12px;
            }
        }
    }

    &__support-icon {
        @include size(calc-rem(18px));
        margin-top: 6%;
    }

    &__close-icon {
        @include size(calc-rem(10px));
    }

    &__title {
        font-size: calc-rem(26px);
        line-height: 1;
        text-align: center;

        @media #{$mSm} {
            font-size: 20px;
        }
    }

    &__subtitle {
        display: flex;
        align-items: baseline;
        margin-bottom: calc-rem(16px);

        &-icon {
            @include size(.8em);
            margin-left: .4em;
        }
    }

    &__spoiler-toggle {
        @include transit(color);
        min-width: calc-rem(74px);
        margin-left: auto;
        background-color: transparent;
        border: none;
        text-align: right;
        font-family: inherit;
        font-weight: inherit;
        font-size: inherit;
        color: $cPurple;
        cursor: pointer;

        @include hover {
            color: var(--text-secondary-color);
        }
    }
}