:root {
    --primary-color: #2D2F42;
    --secondary-color: #212333;
    --accent-color: #7927FF;
    --accent-dark-color: #5922b2;
    --midnight-color: #1E2030;
    --comet-color: #5B607B;
    --text-color: #FFFFFF;
    --text-primary-color: #BCC0E5;
    --text-secondary-color: #BCC0E5;
    --border-color: #393C56;
    --border-dark: #383A50;
    --border-light: #414356;
    --green-color: #00FFA3;
    --yin-yang-color: #000000;

    --primary-reverse-color: #2D2F42;
    --secondary-reverse-color: #212333;

    --accent-color__rgb: 121, 39, 255;
    --text-secondary-color__rgb: 188, 192, 229;
}

[theme-mode='light'] {
    --primary-color: #DFDEE1;
    --secondary-color: #BDBDBD;
    --accent-color: #A36EFB;
    --accent-dark-color: #8342ec;
    --midnight-color: #F2F2F2;
    --comet-color: #C4C4C4;
    --text-color: #444444;
    --text-primary-color: #444444;
    --text-secondary-color: #828282;
    --border-color: #C4C4C4;
    --border-dark: #adadad;
    --border-light: #d5d5d5;
    --green-color: #27AE60;
    --yin-yang-color: #DFDEE1;

    --primary-reverse-color: #C4C4C4;
    --secondary-reverse-color: #DFDEE1;

    --accent-color__rgb: 163, 110, 251;
    --text-secondary-color__rgb:130, 130, 130;
}